.Home-card-align
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.global-datawrap__inner{
    background-color: #f2f7e5;
}
.home-graph
{
   // margin-top: 2vw;
    padding-top: 2vw;
    margin-bottom: 3vw;
}
.dash-date{
text-align: right;
margin-right: 3vw;

}
.Polaris-Card__Section{
    background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 1200px) and (min-width: 992px)  {

    .home-graph
    {
        padding-top: 3vw;
    }
  

}

@media only screen and (max-width: 991px) and (min-width: 964px) 
 {
    .home-graph
    {
        margin-top: 6vw;
    }





}
@media only screen and (max-width: 963px) and (min-width: 600px)  {
    .home-graph
    {
        padding-top: 5vw;
    }

    .dashboard-filter{
        padding-top: 4vw;
    }
 

}
@media only screen and (max-width: 600px) 
{
    .home-graph
    {
        padding-top: 7vw;
    }
    

    .dashboard-filter{
        padding-top: 8vw;
    }
}

.dashboard-filter{
    justify-content: flex-end;
    margin-top: 5vw;
    display: flex;
}

