.split{
    display: flex;
  }
  .report-settings-align{
      padding: 2vw;
  }
  .Polaris-Button{
        margin: 0 auto;
        display: block;
        margin-bottom: 1vw;
    }  
    .select-box-align{
        margin-left: 4vw;
    }