.split{
    display: flex;
  }
  .report-settings-align{
      padding: 2vw;
  }
  .Polaris-Button{
        margin: 0 auto;
        display: block;
        margin-bottom: 1vw;
    }  
    .select-box-align{
        display: block;
        padding-left: 4vw;
        padding-top: 1.4vw;
    }
    .select-box-align{
        margin-bottom: 1.3rem;
    }
   
.adjust
{
color: white;    
}
#PolarisSelect2Label{
color: white;

}