.bottom-part{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-content: flex-start;
    align-items: baseline;
}
.one ,.two{
    width: 40vw;
    padding-left: 2vw;

}
#text{
    text-align: center;
    padding-top: 2vw;
    letter-spacing: .1vw;
}
.Polaris-DataTable__Cell--numeric {
    text-align: left;
}
.header{
    padding-top: 3vw;
    padding-bottom: 2vw;
    margin: 0 auto;
    background-color: antiquewhite;
    text-align: center;
}






  
  .inner-content{
    padding-left: 9vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    line-height: 2vw;
  }

  .alignment1{
    display: flex;
    height: 7vw;
    width: 62vw;
    margin: 0 auto;
    border-radius: 2.5vw;
    background-color: beige;
  }
   span{
     color:white;
   }
  .alignment1 h2{
    color: rgb(10, 10, 10);
    flex-grow: 4; 
    padding-left: 3vw;

    justify-items: flex-start;
    display: flex;
    font-weight: bolder;
    align-items: center;
  
  
  }
  .alignment1 p{
    flex-grow: 2;
    display: flex;
    justify-items: flex-start;
  
  
    align-items: center;
  
  }