.split{
    display: flex;
    align-items: baseline;

  }
  .report-settings-align{
      padding: 2vw;
  }
  .Polaris-Button{
        margin: 0 auto;
        display: block;
        margin-bottom: 1vw;
    }  
  
    .select-box-align{
        margin-bottom: 1.3rem;
    }
   
label{
    font-size: 1.6rem;
}
// span{
//     color: black!important;
// }



.Polaris-TextField {
width: 26vw;
}



@media only screen and (max-width: 600px) 
{
    .Polaris-TextField {
        width: 70vw;
        }
        .react-time-select .rc-time-picker-input {
            width: 30vw;
        }


}