
// Resume Manager Alpha Variables 
$alpha07: .7;

// Resume Manager Variable
$rm-blue: #347bed;
$rm-blue10: #e9f7fa;
$rm-blue20: #a1d4f3;
$rm-blue40: #42b0ff;
$rm-blue80: #1e88ec;
$rm-blue100: #4685ef;
$rm-lightblue: #19bbff;
$rm-white: #ffffff;
$rm-black: #000000;
$rm-grey10: #eaf2fd;
$rm-grey25: #d4dbeb;
$rm-grey30: #d3dceb;
$rm-grey70: #a9a9a9;
$rm-grey80: #8f8f8f;
$rm-grey90: #808487;
$rm-grey100: #666666;
$rm-green10: #e8f8ed;
$rm-green20: #aacf5e;
$rm-green25: #88ba1d;
$rm-green30: #85b61a;
$rm-green40: #5aca7e;
$rm-green45: #49c86e;
$rm-green50: #1cba49;
$rm-green60: #1dba47;
$rm-orange10: #ffb758;
$rm-orange60: #ff985e;
$rm-orange80: #ff772b;
$rm-orange: #ff7f33;
$rm-lightorange: #fbe8d1;
$rm-red10: #feeae9;
$rm-red30: #ff7e66;
$rm-red40: #ff6446;
$rm-red50: #fe6665;
$rm-red: #ff313b;
$rm-darkred: #ff2324;
$rm-pink: #fe3f84;
$rm-input-black: #1a1819;

// Resume Manager Alpha Section 
$rm-blue-alpha07: rgba($rm-blue, $alpha07);