

.generic-page-header {
    margin-bottom: 7px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.generic-page-header .back-link {
    white-space: nowrap;
}

.page-head {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.1;
    color: #2F2F2F;
    margin: 8px 0;
    padding-top: 7px;
    padding-bottom: 7px;
}
.generic-header--select{
    position: relative;
    float: left;
    margin-right:10px;
    width:200px;
    .react-select__control {
        min-height: 38px !important;
    }
    @media( max-width:767.98px){
        width: 100%;
        margin-right:0px;
        margin-bottom: 20px;
    }
}
.base-container{
    width: 100%;
    float: left;
}
.global-content {
    width: calc(100% - 280px);
    position: relative;
    float: left;
    z-index: 99;
    left: 280px;
}
.global-datawrap {
    padding-top: 0px;
    position: relative;
    // min-height: 100vh;
    max-width: 100%;
}
.global-datawrap__inner {
    padding: 25px 33px;
    height: auto;
    min-height: 100vh;
}
a:hover {
    text-decoration: none;
}

@media (max-width: 991.98px) {
    .global-content {
        width: calc(100% - 0px);
        left: 0;
    }
    .global-datawrap__inner {
        padding: 25px 15px;
    }
}
@media (max-width: 767.98px) {
    .generic-page-header{

        .btn-outline-secondary{
            margin-bottom: 10px;
        }
        .btn-primary{
            display: block;
            width: 100%;
        }
    }
}
@media (max-width: 575.98px) {
    .generic-page-header{
        display: block;
        .btn-outline-secondary{
            margin-bottom: 10px;
            width: 100%;
        }
        .btn-primary{
            display: block;
            width: 100%;
        }
    }
}

.section-heading{
    font-size: 18px;
    font-weight: 600;
    color: $mdh-grey;
    font-family: "Raleway", sans-serif;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: solid 1px $mdh-grey150;
}

.Polaris-Select__Input{
    padding: 12px;
}


.custom-react-time{
    margin-bottom: 30px;
}
.react-time-select{
    width: 100%;
}
.react-time-select .rc-time-picker-input{
    height: 41px;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}
.rc-time-picker-panel{
    width: 20.3% !important;
    outline: none !important;
    @media( max-width:767.98px){
        width: 40% !important;
    }
}
.rc-time-picker-panel-inner{
    width: 100%;
    top:3px;
}
.rc-time-picker-panel-input-wrap{
    padding:9px 6px;
}
.rc-time-picker-panel-select{
    width:33.33% !important;
}
.rc-time-picker-panel-select::-webkit-scrollbar {
    width: 10px;
}

.rc-time-picker-panel-select::-webkit-scrollbar-thumb {
    background-color: #b7d6d1;
    border-radius: 50px;
}

.rc-time-picker-panel-select::-webkit-scrollbar-track {
    background-color: #fafafa;
}
.rc-time-picker-panel-select li{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}
.rc-time-picker-clear-icon{
    display: none;
}
.rc-time-picker-panel-input{
    font-size: 16px;
}
